# Adapted from https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
**/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
**/build/
**/DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
**/*.gcno

## obnoxious file that has thumbnails and stuff
.DS_Store

**.o
**../Day1

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
CS6013_ComputerSystems/A4_MallocReplacement/A4_MallocReplacement.xcodeproj/project.pbxproj
*.pbxproj
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/client.csr
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/clientPrivate.key
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/config.cnf
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/index.txt
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/index.txt.attr
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/index.txt.attr.old
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/index.txt.old
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/serial
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/serial.old
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/server.csr
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/serverPrivate.key
CS6014_Networks&Security/HW_TLS_Lite/TLSCheckpoint/Untitled.pages
